:root {
  --main-bg-color: black;
  --text-color: white;
  --accent-color-grey: #737373;
  --accent-color-white: #d4d4d4;
  --accent-color-black: #1a1a1a;
  --font-size-p: 14px;
  --font-size-content: 16px;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
p {
  font-weight: 300;
  font-size: var(--font-size-p);
  padding: 0px;
}
a {
  text-decoration: none;
  color: var(--accent-color-grey);
}
.text-link {
  position: relative;
  color: var(--accent-color-grey);
  text-decoration: none;
  font-size: var(--font-size-p);
  overflow: hidden;
  width: fit-content;
}
#personal-update {
  position: relative;
}
.timestamp {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.text-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}
.text-link:hover::after {
  width: 100%;
}
.nav {
  flex-direction: coloumn;
}
.nav a {
  padding: 10px;
}
.header-text {
  padding-top: 100px;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  padding: 20px;
}
.subheader-text-grey {
  color: var(--accent-color-grey);
  font-size: var(--font-size-p);
}
.timestamp {
  color: var(--accent-color-grey);
}
.subheader-text-white {
  color: var(--accent-color-white);
}
.text-card {
  background-color: var(--accent-color-black);
  padding: 30px;
  border-radius: 10px;
}
.text-card.span-two-coloumns {
  grid-column: span 2;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding-inline: 20px;
  max-width: 100vw;
  padding-bottom: 50px;
}
.card {
  position: relative;
  text-align: left;
  overflow: hidden;
}
.card img {
  width: 100%;
  display: block;
  border-radius: 10px;
  object-fit: fit;
  transition: transform 0.5s ease; /* Smooth transition for the effect */
}
.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 8px;
}
.content {
  font-size: var(--font-size-content);
}
.writing-links-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .header-grid {
    grid-template-columns: 1fr; /* Stack the columns on smaller screens */
  }
  .card-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); /* Adjust the minimum width of the cards for smaller screens */
  }
}
@media (max-width: 600px) {
  .header-grid,
  .card-grid {
    grid-template-columns: 1fr; /* This should stack the columns on smaller screens */
  }
}

#profile-card {
  position: relative;
}
#profile-card img {
  position: absolute;
  display: inline;
  width: 200px;
  right: 0px;
  bottom: 100px;
}
