:root {
    --light: #d8dbe0;
    --dark: #28292c;
    
  }
  
.toggle-switch-wrapper{
    padding:30px;
    position:absolute;
    top:0px;
    right:0px;
    
}
.switch{
    background-color:var(--dark);
    position:relative;
    width:60px;
    height:34px;
    display:inline-block;
    border-radius:50px;
}
.check-box{
    position:absolute;
    display:none;
}
.switch input[type=checkbox] {
    opacity:0;
    width:0px;
    height:0px;
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:50px;
    background-color: var(--dark);
}
.slider::before{
    position:absolute;
    content:'';
    height:30px;
    width:30px;
    left:2px;
    bottom:2px;
    background-color: white;
    border-radius: 50px;
    transition:0.4s;
    box-shadow: inset 10px -4px 0px 0px var(--light);
    background-color: var(--dark);


}
input:checked ~ .slider {
    background-color: var(--light);
  }
input:checked ~ .slider::before {
    transform: translateX(26px);
    background-color: var(--dark);
    box-shadow: none;
  }